.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #454545;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add .flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}

.add-product-name, .add-product-description {
    width: max(40%, 280px);
}

.add input, .add textarea, .add select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: tomato;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price .flex-col {
    min-width: 120px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 12px 0;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: #e04a2f;
}
