.sidebar {
    width: 18%;
    min-height: 100vh;
    background-color: #f5f5f5;
    border-right: 2px solid #e0e0e0;
    font-size: max(1vw, 12px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #555;
    border: 1px solid transparent;
}

.sidebar-option:hover {
    background-color: #e9e9e9;
}

.sidebar-option.active {
    background-color: #fff0ed;
    border-right: 3px solid tomato;
    color: tomato;
}

.sidebar-option img {
    width: 24px;
}

@media (max-width: 900px) {
    .sidebar {
        width: 12%;
    }
    .sidebar-option p {
        display: none;
    }
    .sidebar-option {
        justify-content: center;
        padding: 15px 0;
        border-radius: 5px;
    }
    .sidebar-options {
        padding-left: 0;
        align-items: center;
    }
    .sidebar-option.active {
        border-right: none;
        border-left: 3px solid tomato;
    }
}
