.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 4vw; 
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left p {
    line-height: 1.5; 
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-content-left li:hover,
.footer-content-right li:hover,
.footer-content-center li:hover {
    color: tomato;
}

.footer-content-right h2,
.footer-content-center h2 {
    color: white;
}

.footer-social-icons img {
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.footer-social-icons img:hover {
    transform: scale(1.1); 
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #4d4d4d;
    border: none;
}

.footer-copyright {
    color: #a9a9a9;
    font-size: 14px;
}

/* --- Media Queries for Responsiveness --- */

/* Tablet View */
@media (max-width: 1000px) {
    .footer-content {
        grid-template-columns: 1.5fr 1fr; 
        gap: 40px;
    }
    .footer-content-right {
        grid-column: 1 / -1; 
    }
}

/* Mobile View */
@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center;
        text-align: center;
    }
    
    .footer-copyright {
        text-align: center;
    }
}
